{% extends "base.html" %}
{% load static %}
{% block customcss %}
<link rel="stylesheet" type="text/css" href="{% static 'ideas_list.css' %}">
{% endblock customcss %}

{% block content %}
<div class="search">
    <form action="" method="get">
        <input name="query" value="{{ request.GET.query }}" type="text">
        <button type="submit">検索する</button>
    </form>
    <a href="../ideas_list" class="back">一覧画面に戻る</a>
</div>
<a href="../my_page">マイページ</a>
<a href="../accounts/logout">ログアウト</a>

<div class="mt-4"></div>
{% for idea in object_list %}
<div class="alert alert-warning container rounded-pill" role="alert">
    <a href= "{% url 'branch' pk=idea.pk %}" class="alert-link">{{idea.genre}}　×　〇〇</a>
</div>
{% endfor%}
<div class="col-6 offset-3 justify-content-center">
    {% if is_paginated %}
        {% include 'pagination.html' %}
    {% endif %}
</div>

{% endblock content %}