* {
    margin: 0;
    padding: 0;
}


html,body{
    height: 100%;
    margin: 0;
}

.bg{
    background: url("media/shutterstock_1507606391.jpg") no-repeat center;
    background-size: cover;
    position: relative;
    height:100%;
}
.bg::before{
    background-color: rgba(0,0,0,0.5);  
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: ' ';
}
.box{
    position: absolute;
    width: 100%;
}

.header {
    height:50px;
}

.title {
    text-align: left;
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    margin: 5px 0 0 15px;
    color:white;
    float: left;
}

.right {
    float: right;
    margin: 15px 15px 0 0;
}

a {
    border: 1px solid black;
    vertical-align:top;
    display: inline-block;
    padding: 17px 20px;
    border-radius: 25px;
    text-decoration: none;
    color: #FFF;
    background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    transition: .4s;
    margin-bottom: 20px;
    height:60px;
}

a:hover {
    background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
    text-decoration: none;
}

a + a {
    margin-left: 15px;
}

table {
    margin: 30px auto;
}

td {
    font-size: 25px;
    color:white;
}

h1 {
    text-align: center;
    color:white;
    margin-top: 80px;
    font-size:50px;
}

p {
    color:white;
    font-size: 25px;
}

.submit {
    margin-top:15px;
    width:140px;
    border: 1px solid black;
    vertical-align:top;
    display: inline-block;
    border-radius: 25px;
    text-decoration: none;
    color: #FFF;
    background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    transition: .4s;
    height:60px;
    font-size: 25px;
}

.submit:hover {
    background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
    text-decoration: none;
}

.submit-area {
    text-align: center;
}

.guest {
    border:1px solid white;
    display:inline-block;
    margin-top: 40px;
    padding:15px;
}

.guest-box {
    text-align: center;
}

.guest > p {
    font-size: 20px;
}

footer {
    position: absolute;
    top:760px;
    left:460px;
    font-size: 20px;
}

