* {
    margin: 0;
    padding: 0;
}


html,body{
    height: 100%;
    margin: 0;
}

.bg{
    background: url("media/shutterstock_1507606391.jpg") no-repeat center;
    background-size: cover;
    position: relative;
    height:100%;
}
.bg::before{
    background-color: rgba(0,0,0,0.5);  
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: ' ';
}
.box{
    position: absolute;
    width: 100%;
}

.header {
    height:100px;
    margin-bottom: 30px;
}

.title {
    text-align: left;
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    margin: 5px 0 0 15px;
    color:white;
    float: left;
}

.right {
    float: right;
    margin: 15px 15px 0 0;
}

a, .submit {
    border: 1px solid black;
    vertical-align:top;
    display: inline-block;
    padding: 17px 20px;
    border-radius: 25px;
    text-decoration: none;
    color: #FFF;
    background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    transition: .4s;
    margin-bottom: 20px;
    margin: 15px 15px 0 0;
    height:60px;
}

a:hover, .submit:hover {
    background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
    text-decoration: none;
}


footer {
    position: absolute;
    top:760px;
    left:460px;
    font-size: 20px;
}


h1 {
    text-align:center;
    margin:30px auto;
    font-size: 50px;
    color:white;
}

p {
    text-align:center;
    font-size: 25px;
    color:white;
}

.login {
    text-align: center;
}

