* {
    margin: 0;
    padding: 0;
}


html,body{
    height: 100%;
    margin: 0;
}
.bg{
    background: url("media/shutterstock_1507606391.jpg") no-repeat center;
    background-size: cover;
    position: relative;
    height:100%;
}
.bg::before{
    background-color: rgba(0,0,0,0.5);  
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: ' ';
}
.box{
    position: absolute;
    width: 100%;
    text-align: center;
}

.header {
    height:70px;
    margin-bottom: 20px;
}

.title {
    float: left;
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    margin: 5px 0 0 15px;
    color:white;
}

.right {
    float: right;
}

.right > a, .pro {
    border: 1px solid black;
    vertical-align:top;
    display: inline-block;
    padding: 17px 20px;
    border-radius: 25px;
    text-decoration: none;
    color: #FFF;
    background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    transition: .4s;
    margin-bottom: 20px;
    margin: 15px 15px 0 0;
    height:60px;
}

.right > a:hover, .pro {
    background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
    text-decoration: none;
}

p {
    font-size: 25px;
    color:white;
}


h2 {
    color:white;
    font-size: 40px;
    margin-bottom: 20px;
}

.profile {
    float:left;
    margin-left: 120px;
    border:1px solid white;
    padding:10px
}

.post {
    float:right;
    margin-right: 80px;
    border:1px solid white;
    padding:10px;
    margin-top: 30px;
}

.post > a {
    text-decoration: none;
}

.post p {
    width:900px;
    word-wrap: break-word;
}

footer {
    position: absolute;
    top:760px;
    left:460px;
    color:white;
    font-size: 20px;
}
